body  { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#828282; }
td    { font-family:Verdana, Geneva, sans-serif; font-size:10pt; color:#3A3A3A; }
.subtext td { font-family:Verdana, Geneva, sans-serif; font-size:  7pt; color:#828282; }

textarea { font-family:Courier; font-size:10pt; color:#000000; }

a:link    { color:#02008A; text-decoration:none; }
a:visited { color:#02008A; text-decoration:none; }

.default { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#828282; }
.title   { font-family:Verdana, Geneva, sans-serif; font-size: 10pt; color:#828282; }
.links { font-family:Verdana, Geneva, sans-serif; font-size:  8pt; color:#828282; }

.title a:link { color:#000000;}
.title a:visited { color:#000000;}

.pagetop a:link { color:#000000;}
.pagetop a:visited { color:#000000;}
.topsel a:link, .topsel a:visited { color:#ffffff; }

.subtext a:link, .subtext a:visited { color:#828282; }
.subtext a:hover { text-decoration:underline; }

.comhead a:link, .subtext a:visited { color:#828282; }
.comhead a:hover { text-decoration:underline; }

.default p { margin-top: 8px; margin-bottom: 0px; }

.pagebreak {page-break-before:always}

pre { overflow: auto; padding: 2px; max-width:90%; }
pre:hover {overflow:auto}

code { background: #E1F0EE; }

pre code { display:block; overflow-wrap: break-word; padding: 0.1em 0.5em 0.3em 0.7em; white-space: pre-wrap; }

img{ max-width: 100%; display:block; height: auto; }
