<!DOCTYPE html>
<html>
<head>
    <meta content="origin" name="referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main.css?2022" rel="stylesheet" type="text/css">
    <link href="/rss.xml" rel="feed" type="application/rss+xml" title="Benjojo's Blog">
    <link href="https://benjojo.co.uk/u/benjojo" rel="me">
    <title>{{.Title}}</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@benjojo12" />
    <meta name="twitter:creator" content="@benjojo12" />
    {{if .HasFeatureImage}}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{.FeatureImage}}" />
    <meta property="og:url" content="{{.PageURL}}" />
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:image" content="{{.FeatureImage}}" />
    {{end}}
</head>
<center>
<body style= "background-color: #FFF">

<div class="topbar">
    <a style="float: left" href="/">< All posts</a> | <a style="padding-left: 10px;" href="https://benjojo.co.uk/u/benjojo">Fediverse</a> | <a style="padding-left: 10px;" href="/rss.xml">RSS</a> | <a href="https://github.com/benjojo">GitHub</a> | <a href="https://benjojo.co.uk/talks/">Talks</a>
</div>

<div class="contain">
<h3>{{.Date}}</h3>
{{.Content}}
{{if .HasReccomendations}}
<div class="recbox">
<p><b>Related Posts:</b></p>
<p><a href="{{.FirstRecLink}}">{{.FirstTitle}}</a> ({{.FirstYear}})</p>
<p><a href="{{.SecondRecLink}}">{{.SecondTitle}}</a> ({{.SecondYear}})</p>
<p><b>Random Post:</b></p>
<p><a href="{{.RandomLink}}">{{.RandomTitle}}</a>({{.RandomYear}})</p>
</div>
{{end}}
</div>


</body>
</html>
